$color_buses:		#41525c;
$color_subways:		#477997;
$color_trolleys:	#539442;
$color_trains:		#477997;
$color_bsl:			#f58220;
$color_mfl:			#107dc1;

$colors: (
	buses: 			#41525c, 
	subways: 		#477997,
	trolleys:		#539442,
	trains:			#539442,
	bsl:			#f58220,
	mfl:			#107dc1
);

@each $type, $color in $colors {
	.home-route-type-#{$type} a:before {
		background-color: $color;
	}

	.simple-nav strong.#{$type} {
		background-color: transparentize($color, 0.5);
	}
}
