$background_color: #222;
$default_color: #f9f9f9;

$green: #79a65d;

$background_buses: #41525c;
$background_subways: #477997;
$background_trolleys: #539442;
$background_trains: #477997;
$background_bsl: #f58220;
$background_mfl: #107dc1;