@import "_utils/utils";

/* Routes QuickNav */
.quicknav {
	overflow: hidden;
	font-size: 0.9em;
	font-weight: bold;
	@include ellipsis;
}
	.quicknav ul {
		display: table;
		width: 100%;
	}
		.quicknav li {
			display: table-cell;
			text-align: center;
		}
			.quicknav a {
				display: inline-block;
				padding: 0.6em 0.3em;
			}
			.quicknav-anchor {
				padding: 0 !important;
			}

/* Simple Nav */
.simple-nav {}
.content-inner > .simple-nav {
	margin: -0.6em -1.4em;
}
	.simple-nav li {
		position: relative;
		border-top: 1px solid lighten($background_color, 8%);
		border-bottom: 1px solid lighten($background_color, 1%);
	}
	.simple-nav li:first-child {
		border-top: 0;
	}
		.simple-nav li:first-child a {
			border-radius: 4px 4px 0 0;
		}
	.simple-nav li:last-child {
		border-bottom: 0;
	}
		.simple-nav li:last-child a {
			border-radius: 0 0 4px 4px;
		}
		.simple-nav a, .simple-nav-item {
			display: block;
			padding: 0.6em 0.8em;
			font-size: 1.4em;
			font-weight: 100;
			@include ellipsis;
		}
		.simple-nav a:hover, .simple-nav a:focus {
			background-color: rgba(255, 255, 255, 0.075);
			@include transition('background-color', '1s');
		}
		.simple-nav-add, a.simple-nav-add {
			background-color: $background_add;
			color: $color_add;
		}
		.simple-nav-add:hover, a.simple-nav-add:hover {
			background-color: $background_add_hover;
		}
		.simple-nav-add:active, a.simple-nav-add:active {
			background-color: $background_add_active;
		}

			.simple-nav a [class^="icon-"], .simple-nav-item [class^="icon-"] {
				font-size: 0.8em;
			}
			.simple-nav strong {
				display: inline-block;
				margin-right: 0.4em;
				padding: 0 0.4em;
				min-width: 2em;
				text-align: center;
				background-color: rgba(255, 255, 255, 0.1);
				font-size: 1.4em;
				font-weight: normal;
				border-radius: 3px;
			}