@import "_utils/utils";

html, body {
	background-color: $background_color;
}

.row {
	@include clearfix;
}

.right {
	float: right;
}

.align-center {
	text-align: center;
}

.ul {
	padding-left: 1rem;
	list-style: disc;
}
