@import "_utils/utils";

input[type="text"] {
	display: inline-block;
	padding: 0.4rem;
	vertical-align: middle;
	border: 1px solid lighten($background_color, 10%);
	background-color: lighten($background_color, 4%);
	font-size: 0.8rem;
	color: $default_color;
	border-radius: 2px;
}


input[type="text"]:focus {
	border-color: lighten($background_color, 15%);
	background-color: lighten($background_color, 6%);
}