@import "_utils/utils";

.home {}
	.home-search {
		margin-bottom: 1em;
	}
		.home-search input {
			width: 16em;
		}
		.home-route-type a:before {
			content: "";
			position: relative;
			top: -1px;
			display: inline-block;
			margin-right: 0.6em;
			height: 1em;
			width: 1em;
			vertical-align: text-bottom;
			background-color: #fff;
			border-radius: 4px;
			box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.9);
		};
		.home-route-type-buses a:before {
			background-color: $background_buses;
		}
		.home-route-type-subways a:before {
			background-color: $background_subways;
		}
		.home-route-type-trolleys a:before {
			background-color: $background_trolleys;
		}
		.home-route-type-trains a:before {
			background-color: $background_trains;
		}
		.home-route-type-bsl a:before {
			background-color: $background_bsl;
		}
		.home-route-type-mfl a:before {
			background-color: $background_mfl;
		}