@import "_utils/utils";

.map {
	position: relative;
	display: none;
}
.map.active {
	display: block;
}

	.map-inner {
		height: 360px;
		width: auto;
	}

	.map-results-list {
		position: absolute;
		right: 0.5em;
		top: 0.5em;
		z-index: 9999;
	}

		.map-results-list li {
			margin-bottom: 0.15em;
		}

			.map-results-list a {
				display: block;
				padding: 0.4em 0.8em;
				min-width: 5em;
				border: 1px solid lighten(#000, 50%);
				background-color: #d0d0d0;
				opacity: 0.7;
				color: #fff;
				text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.9);
				border-radius: 3px;
				box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
			}
			.map-results-list a:hover, .map-results-list a:active {
				opacity: 0.8;
			}

/* Leaflef/Mapbox overrides */
.leaflet-popup-content {
	margin: 1px 4px 0;
	color: #888;
}

.leaflet-popup-tip-container {
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -9px;
	width: 12px;
}
	.leaflet-popup-tip {
		margin: -12px 0 0 15px;
		width: 12px;
		height: 28px;
	}