@import "_utils/utils";


.options {}

	.options-section {}
		.options-section header {
			margin-bottom: 0.5em;
			padding-left: 0.4em;
		}
		.options-section h4 {
			margin-bottom: 0;
		}
		.options-section .btn-right {
			margin-right: 1em;
		}
		.options .simple-nav .btn-right {
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -0.9em;
			-webkit-text-size-adjust: 100%;
		}
		.options .simple-nav .btn-right.icon-angle-right {
			margin-top: -0.5em;
			margin-right: 0.5em;
			font-size: 1.4em;
		}

		.options-trip {}
			.simple-nav a.options-trip {
				padding-right: 3.6em;
			}
			.options-trip-stops {
				position: relative;
			}
				.options-trip-direction {
					position: absolute;
					bottom: -9px;
					left: 0;
					font-size: 0.5em;
					font-weight: 200;
					text-transform: uppercase;
					color: darken(#fff, 25%);
				}

	.options-by-line {
		margin: -1em 0 0;
		font-size: 0.8em;
	}