.options {}

	.options-section {}
		.options-section header {
			margin-bottom: 0.5em;
			padding-left: 0.4em;
		}
		.options-section h4 {
			margin-bottom: 0;
		}
		.options-section .btn-right {
			margin-right: 1em;
		}
		.options .simple-nav .btn-right {
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -0.9em;
		}

		.options-trip {}
			.options-trip-stops {
				display: inline-block;
			}
				.options-trip-direction {
					position: relative;
					bottom: -4px;
					display: block;
					margin-top: -7px;
					font-size: 0.5em;
					font-weight: 200;
					text-transform: uppercase;
					color: darken(#fff, 25%);
				}
