<!-- title: {{title}} -->
<div class="about">
	<h2>About</h2>
	<div class="content-inner content-section content-text">
		<p><strong>NEXT|Septa</strong> let's you find the next few arriving buses or trains as quickly and easily as possible.</p>
		<p>Choose a mode of transit, route, and direction, and stop you'll be leaving from, and NEXT|Septa will tell you the next few departure times at that stop.</p>
	</div>

	<div class="content-text">
		<p class="options-by-line">Built by <a href="http://twitter.com/reedlauber">reedlauber</a></p>
	</div>
</div>