<!-- title: {{title}} -->
<div class="feedback" ctrl="feedback">
	<h2>Feedback</h2>

	<div class="content-inner content-section content-text">
		<p>Have something to say, want to report and issue, or want to request a new feature? Let us know!</p>

		<form class="">
			<div class="control-group">
				<div class="controls">
					<input id="feedback-name" type="text" class="input-xxlarge" placeholder="Name (optional)" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input id="feedback-email" type="email" class="input-xxlarge" placeholder="Email (optional)" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<textarea id="feedback-message" class="input-xxlarge" rows="6" placeholder="Your message"></textarea>
				</div>
			</div>
			<div class="form-actions">
				<input id="feedback-submit-btn" type="button" class="btn" value="Submit" /> 
				<a href="/options" class="secondary js-nav-link-back">Cancel</a>
			</div>
		</form>
	</div>
</div>