<!-- title: NEXT|Septa; back: false; options: true; footer: false -->
<div class="home" ctrl="home">
	<form class="home-search" action="/search" method="GET">
		<input type="text" name="term" /> <button class="btn">Go</button>
	</form>

	<div class="content-inner">
		<nav class="simple-nav">
			<ul>
				{{#route_types}}
				<li class="home-route-type home-route-type-{{id}}"><a href="{{path}}" class="js-nav-link">{{label}}</a></li>
				{{/route_types}}
			</ul>
		</nav>
	</div>
</div>