<div class="patterns">
	<h2>UI Patterns</h2>

	<h4 class="patterns-header">Typography</h4>
	
	<h1>H1</h1>
	<h2>H2</h2>
	<h3>H3</h3>
	<h4>H4</h4>
	<h5>H5</h5>
	<h6>H6</h6>

	<p></p>

	<h4 class="patterns-header">Buttons</h4>

	<a href="" class="btn">Link</a>
	<span class="btn">Span</span>
	<button class="btn">Button</button>
	<input type="button" class="btn" value="input[type=button]" />

	<p></p>

	<p><span class="btn btn-full">Full</span></p>
	<p><span class="btn btn-huge">Huge</span></p>
	<p><span class="btn btn-large">Large</span></p>
	<p><span class="btn">Default</span></p>
	<p><span class="btn btn-small">Small</span></p>
	<p><span class="btn btn-mini">Mini</span></p>

	<p></p>

	<p><span class="btn btn-add">Add</span></p>
	<p><span class="btn btn-danger">Danger</span></p>

	<h4 class="patterns-header">Forms</h4>

	<h4 class="patterns-header">Components</h4>

	<div class="content-inner">
		.content-inner
	</div>

	<p></p>

	<div class="content-inner">
		<nav class="simple-nav">
			<li>
				<a href="">.simple-nav (a)</a>
			</li>
			<li>
				<span class="simple-nav-item">.simple-nav-item</span>
			</li>
		</nav>
	</div>
</div>