<!-- title: Patterns - NEXT|Transit; back: false; options: false; footer: false; -->
<div class="patterns">
	<h2>UI Patterns</h2>

	<section class="patterns-section">
		<div class="patterns-left">
			<h4 class="patterns-header">Typography</h4>
			
			<h1>H1</h1>
			<h2>H2</h2>
			<h3>H3</h3>
			<h4>H4</h4>
			<h5>H5</h5>
			<h6>H6</h6>

			<p></p>

			<h4 class="patterns-header">Forms</h4>

			<div class="form">
				<div class="control-group">
					<div class="controls">
						<input type="text" />
					</div>
				</div>
			</div>
		</div>
		<div class="patterns-right">
			<h4 class="patterns-header">Buttons</h4>

			<a href="" class="btn">Link</a>
			<span class="btn">Span</span>
			<button class="btn">Button</button>
			<input type="button" class="btn" value="input[type=button]" />

			<p></p>

			<p><span class="btn btn-full">Full</span></p>
			<p><span class="btn btn-huge">Huge</span></p>
			<p><span class="btn btn-large">Large</span></p>
			<p><span class="btn">Default</span></p>
			<p><span class="btn btn-small">Small</span></p>
			<p><span class="btn btn-mini">Mini</span></p>

			<p></p>

			<p><span class="btn btn-primary">Primary</span></p>
			<p><span class="btn btn-secondary">Secondary</span></p>
			<p><span class="btn btn-add">Add</span></p>
			<p><span class="btn btn-danger">Danger</span></p>
		</div>
	</section>

	<section class="patterns-section">
		<h4 class="patterns-header">Components</h4>

		<div class="content-inner">
			.content-inner
		</div>

		<p></p>

		<div class="content-inner">
			<nav class="simple-nav">
				<ul>
					<li>
						<a href="">.simple-nav (a)</a>
					</li>
					<li>
						<span class="simple-nav-item">.simple-nav-item</span>
					</li>
					<li>
						<a href=""><strong>Important</strong> nav item info</a>
					</li>
					<li>
						<a href=""><i class="icon-map-marker"></i> Nav item w/ Icon</a>
					</li>
				</ul>
			</nav>
		</div>

		<p></p>

		<div class="content-inner">
			<nav class="simple-nav small">
				<ul>
					<li>
						<a href="">.simple-nav.small</a>
					</li>
					<li>
						<a href=""><strong>Important</strong> Northbound</a>
					</li>
				</ul>
			</nav>
		</div>

		<p></p>

		<div class="content-inner">
			<nav class="simple-nav smaller">
				<ul>
					<li>
						<a href="">.simple-nav.smaller</a>
					</li>
					<li>
						<a href=""><strong>Important</strong> Southbound</a>
					</li>
				</ul>
			</nav>
		</div>

		<p></p>

		<div class="content-inner trips-header">
			<div class="trips-header-from-stop"><a href=""><i class="icon-map-marker"></i> From Station</a></div>
			<div class="trips-header-reverse"><a href=""><i class="icon-exchange"></i></a></div>
			<div class="trips-header-to-stop"><a href="">To Station <i class="icon-map-marker"></i></a></div>
		</div>

		<p></p>
		<div class="message">
			<p>Message</p>
		</div>
		<div class="message success">
			<p>Success message</p>
		</div>
	</section>
</div>