<!-- title: {{title}}; -->
<div class="stats">
	<h1>Stats</h1>
	<div class="content-inner">
		<table class="stats-table">
			<thead>
				<tr>
					<th></th>
					<th>Routes</th>
					<th>Directions</th>
					<th>Stop Times</th>
					<th>Stops</th>
					<th>Trips</th>
					<th>Simplified Stops</th>
					<th>Trip Variants</th>
					<th>Shapes</th>
				</tr>
			</thead>
			<tbody>
				{{#stats}}
				<tr>
					<td>{{created_at}}</td>
					{{#each fields}}
					<td><strong>{{formatted_count}}</strong></td>
					{{/each}}
				</tr>
				{{/stats}}
			</tbody>
		</table>
	</div>
</div>